{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    {% if has_cash %}
        <form action="/buy" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Buy</button>
        </form>
    {% else %}
        <p>You do not have enough cash to buy those stocks!</p>
    {% endif %}

{% endblock %}
